{% extends "main.html" %}
{% block content %}

    <div class="col-sm-8 blog-main">

            <div class="col-md-3">
                <span class="glyphicon glyphicon glyphicon-plus">
                    <a href="{{url_for('newItem')}}">Add Item</a>
                </span>
            </div>

        </br>
		<h2>Items</h2>
        {% for item in items %}
		    <a href="{{url_for('showItem', item_id=item.id)}}">
			    <div class="row">
				    <div class="col-md-1"></div>
					    <div class="col-md-10 restaurant-list">
						    <span>{{item.name}}</span>({{item.category.name}})

					    </div>
				    <div class="col-md-1"></div>
			    </div>
	    	</a>
	    {% endfor %}

    </div>






{% endblock %}




